In [91]:
import numpy as np
import pandas as pd

In [92]:
df = pd.read_excel("C:/Users/piyus/Desktop/New folder/Practice/Movies_temp.xlsx")

In [93]:
# input the user
userName = input("Enter User Name : ")

Enter User Name : Fred

In [94]:
#check if the user is present or not
if userName in df.User.values:
    print("User is present")
else:
    print("User is not present")
    #userRegReply = input("Do you want to register : ")
    #if userRegReply == 'Yes' :
    #    list(df.User).append(userName)

User is present

In [95]:
df = df.set_index('User')

In [96]:
df['rat_mean'] = df.mean(1)

In [97]:
em_col = df.columns[np.where(df.loc[userName].isnull())]
col = df.columns
col1 = [x for x in col if x not in em_col]

In [12]:
#sim = [('sim' + str(idx)) for idx,i in enumerate(em_col)]
#[df[s] for sdx,s in enumerate(sim)]
#sim

In [98]:
df

,Batman vs Superman,Zootopia,Kung Fu Panda 3,Starwars: The Force Awakens,Deadpool,Avengers,rat_mean
User,,,,,,,
Fred,NaN,1,2,3,3.0,3.0,2.400000
Alice,5.0,3,4,4,NaN,NaN,4.000000
John,4.0,3,4,3,5.0,4.0,3.833333
Sue,3.0,3,1,5,4.0,1.0,2.833333
Tina,1.0,5,5,2,1.0,5.0,3.166667

In [116]:
nan_count = df.loc[userName].isnull().sum()
#len(col)
#col

In [100]:
sim = pd.DataFrame(np.zeros((nan_count,len(col))))
sim.columns = col
sim = sim.set_index(em_col)

In [101]:
sim

,Batman vs Superman,Zootopia,Kung Fu Panda 3,Starwars: The Force Awakens,Deadpool,Avengers,rat_mean
Batman vs Superman,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
for edx, e in enumerate(em_col):
    for jdx in range(df.shape[1]-1):
            num = []
            den1 = []
            den2 = []
            for idx, i in enumerate(df.index):
                if i != userName :
                    if not (np.isnan(df.loc[i][jdx]) or np.isnan(df.loc[i][e])):
                        num.append((df.loc[i][jdx] - df.loc[i]['rat_mean'])*(df.loc[i][e] - df.loc[i]['rat_mean']))
                        den1.append((df.loc[i][jdx] - df.loc[i]['rat_mean'])**2)
                        den2.append((df.loc[i][e] - df.loc[i]['rat_mean'])**2)
            sim.loc[e][jdx] = np.nansum(num)/(np.sqrt((np.nansum(den1)))*(np.sqrt(np.nansum(den2))))

In [103]:
sim

,Batman vs Superman,Zootopia,Kung Fu Panda 3,Starwars: The Force Awakens,Deadpool,Avengers,rat_mean
Batman vs Superman,1.0,-0.940244,-0.682187,0.441415,0.856441,-0.750568,0.0

In [115]:
#sim.sort_values(list(df.columns))

In [25]:
#type(.loc['Avengers'])

In [114]:
#x = pd.DataFrame(sim.loc['Avengers'].sort_values(ascending = False))
#x.index.get_loc(x.iloc[1])
#x.iloc[1]
#x.index.get_loc(x.iloc[1])

In [113]:
#for edx,e in enumerate(em_col):
#    fir_nbr = sim.loc[e].sort_values(ascending = False)[1]
#    sec_nbr = sim.loc[e].sort_values(ascending = False)[2]

In [71]:
# fir_nbr = sim.loc['Avengers'].sort_values(ascending = False)[1]
# sec_nbr = sim.loc['Avengers'].sort_values(ascending = False)[2]
# sim_col = sim.columns[(sim.loc['Avengers'] > 0) & (sim.loc['Avengers'] < 0.999)]

In [112]:
# sim_col = pd.DataFrame(np.zeros((len(em_col),2)))
# sim_col = sim_col.set_index(em_col)
# sim_col

In [107]:
sim_col

Index(['Zootopia', 'Kung Fu Panda 3'], dtype='object')

In [108]:
pred_rat = pd.DataFrame(np.zeros((1,len(em_col))))
pred_rat.columns = em_col
pred_rat

   Batman vs Superman
0                 0.0

In [110]:
pred_num = []
pred_den = []
for edx,e in enumerate(em_col):
    sim_col = sim.columns[(sim.loc[e] > 0) & (sim.loc[e] < 0.999)]
    for sdx,s in enumerate(sim_col):
        pred_num.append(df.loc[userName][s]*sim.loc[e][s])
        pred_den.append(sim.loc[e][s])
    pred_rat[e] = np.sum(pred_num)/np.sum(pred_den)

In [111]:
pred_rat

   Batman vs Superman
0                 3.0